@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

.save,
.toast-message {
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#editor-container {
    height: 85vh;
}

.ql-toolbar.ql-snow {
    padding-top: 30px;
}

/* CSS */
.save {
    right: 50px;
    top: 5px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.save:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.save:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .save {
        padding: 13px 50px 13px;
    }
}